---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/vasiliy-pdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1562515393'
      Etag:
      - W/"d6598af91bd94e7ab9a963ef4e6fabca"
      Last-Modified:
      - Wed, 03 Jul 2019 20:56:06 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"vasiliy-pdk","id":2930187,"node_id":"MDQ6VXNlcjI5MzAxODc=","avatar_url":"https://avatars0.githubusercontent.com/u/2930187?v=4","gravatar_id":"","url":"https://api.github.com/users/vasiliy-pdk","html_url":"https://github.com/vasiliy-pdk","followers_url":"https://api.github.com/users/vasiliy-pdk/followers","following_url":"https://api.github.com/users/vasiliy-pdk/following{/other_user}","gists_url":"https://api.github.com/users/vasiliy-pdk/gists{/gist_id}","starred_url":"https://api.github.com/users/vasiliy-pdk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vasiliy-pdk/subscriptions","organizations_url":"https://api.github.com/users/vasiliy-pdk/orgs","repos_url":"https://api.github.com/users/vasiliy-pdk/repos","events_url":"https://api.github.com/users/vasiliy-pdk/events{/privacy}","received_events_url":"https://api.github.com/users/vasiliy-pdk/received_events","type":"User","site_admin":false,"name":"Vasiliy
        Pedak","company":"veeqo","blog":"https://www.linkedin.com/in/vasylpedak/","location":"Swansea,
        UK","email":"truvazia@gmail.com","hireable":true,"bio":null,"public_repos":30,"public_gists":1,"followers":3,"following":11,"created_at":"2012-11-30T11:02:31Z","updated_at":"2019-07-03T20:56:06Z"}'
  recorded_at: Sun, 07 Jul 2019 15:03:14 GMT
recorded_with: VCR 5.0.0
