<h1>InNerd.io</h1>
<p>InNerd.io is a tool to find more about software developers. </p>

<%= form_tag('/search', method: 'get') do %>
  <%= text_field_tag(:user_name, '', placeholder: 'Type GitHub username here') %>
  <%= submit_tag 'Search' %>
<% end %>
