$action-darker: rgba(25, 121, 198, 1);
$action: rgba(32, 148, 232, 1);
$action-lighter: rgba(67, 165, 246, 1);
$light: rgba(252, 247, 248, 1);
$dark: rgba(206, 211, 220, 1);

.root {
  font-size: calc(1em + 1vw);
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background-color: $dark;
}

@media (orientation: landscape) {
  .root {
    font-size: calc(1em + 1vh);
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, - 50%);
  max-height: 102vh;
  overflow-y: auto;

  text-align: center;
}

.box {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2.5rem 3rem 3rem;
  max-width: 102vw;

  font-size: 1rem;
  background-color: $light;
  box-shadow: 0 0 20px -8px #111;
}

.title {
  font-size: 1.5rem;
}

.title__home {
  font-size: 0.75em;
  font-weight: bold;
  
  text-decoration: none;
  color: #555;
}

.title__description {
  font-size: 0.5em;
  color: #7d7d7d;
}


.box__row {
  margin-top: 1rem;
}

.search {
  display: flex;
  flex-direction: column;
}

.search__input,
.search__button {
  flex: 1 0 auto;

  border-width: 3px;
  border-radius: 5px;
  padding: 3px;
  line-height: 1.75em;

  outline: none;

  border-color: $action-lighter;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    border-color: $action-darker;
  }
}

.search__input {
  text-align: center;

  &::placeholder {
    color: #b1b1b1;
    font-size: 0.9em;
    text-align: center;
  }
}

.search__button {
  margin-top: 0.4em;
  background-color: $action-lighter;

  &:hover {
    background-color: $action;
  }

  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.search-result {
  margin: 1.5rem 0;
}

.heart {
  $size: 1em;

  margin: 0.5em auto 0.25em;

  background-color: red;
  height: $size;
  width: $size;
  transform: rotate(-45deg);

  &:before,
  &:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: $size;
    position: absolute;
    width: $size;
  }

  &:before {
    top: -($size / 2);
    left: 0;
  }

  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1) rotate(-45deg); }
  50% { transform: scale(1.1) rotate(-45deg); }
  100% { transform: scale(1) rotate(-45deg); }
}
