// Place all the styles related to the Nerd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root {
  font-size: calc(1em + 1vw);
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  height: 100vh;
  margin: auto;
  text-align: center;
}

@media (min-width: 1900px) {
  .container {
    max-width: 50%;
  }
}

.search {
  display: flex;
  flex-direction: column;
}

.search__input {
  flex: 1 0 auto;
}

.search__button {
  flex: 1 0 auto;
}

.box {
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2rem;
}

.box__row {
  margin-top: 1rem;
}
